* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

body {
    background-color: rgb(30, 30, 34);
}


#calculator {
    width: 300px;
    height: 500px;
    background-color:rgb(52, 52, 57);
    display: flex;
    flex-direction: column;
    flex-direction: column;
    margin: 75px auto;
}

#screen {
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 40px;
    padding: 20px;
}

#buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

#buttons div  {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#buttons div button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
} 

#buttonrow5 button:first-child {
    flex: 2;
}